################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CERAXLAN.OKR.Solution/bin/Release
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.ApiGateway/bin/Release/net6.0
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.ApiGateway/obj/Container
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.ApiGateway/obj/Docker/publish
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.ApiGateway/obj/Release/net6.0/ref
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.ApiGateway/obj/Release/net6.0/refint
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.ApiGateway/obj/Release/net6.0/staticwebassets
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.BlazorWebUI/bin/Release/net6.0
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.BlazorWebUI/obj/Container
/CERAXLAN.OKR.Solution/obj/Docker
/CERAXLAN.OKR.Solution/obj/Release/docker-compose.dcproj.FileListAbsolute.txt
/CERAXLAN.OKR.Solution/obj/Release/docker-compose.dcproj.CoreCompileInputs.cache
/CERAXLAN.OKR.Solution/obj/Release/docker-compose.dcproj.CopyComplete
/CERAXLAN.OKR.Solution/obj/Release/docker-compose.dcproj.AssemblyReference.cache
/CERAXLAN.OKR.Solution/CorePackages/CERAXLAN.Core.Application/bin/Release/net6.0
/CERAXLAN.OKR.Solution/CorePackages/CERAXLAN.Core.Application/obj/project.nuget.cache
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.UserApi/bin/Release/net6.0
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.UserApi/obj/Container
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.UserApi/obj/Docker/publish
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.UserApi/obj/Release/net6.0/CERAXLAN.OKR.UserApi.GeneratedMSBuildEditorConfig.editorconfig
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.UserApi/obj/Release/net6.0/CERAXLAN.OKR.UserApi.csproj.AssemblyReference.cache
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.UserApi/obj/Release/net6.0/CERAXLAN.OKR.UserApi.AssemblyInfoInputs.cache
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.UserApi/obj/Release/net6.0/CERAXLAN.OKR.UserApi.AssemblyInfo.cs
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.ProductApi/obj/Docker/publish
/CERAXLAN.OKR.Solution/.vs/CERAXLAN.OKR.Solution/v17/.suo
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.ApiGateway/obj/Debug/net6.0
/CERAXLAN.OKR.Solution/bin/Debug
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.ApiGateway/bin/Debug/net6.0
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.ApiGateway/obj
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.BlazorWebUI/bin/Debug/net6.0
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.BlazorWebUI/obj
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.ProductApi/bin/Debug/net6.0
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.ProductApi/obj
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.UserApi/bin/Debug/net6.0
/CERAXLAN.OKR.Solution/CERAXLAN.OKR.UserApi/obj
/CERAXLAN.OKR.Solution/CorePackages/CERAXLAN.Core.Application/bin/Debug/net6.0
/CERAXLAN.OKR.Solution/CorePackages/CERAXLAN.Core.Application/obj
/CERAXLAN.OKR.Solution/CorePackages/CERAXLAN.Core.CrossCuttingConcerns/bin/Debug/net6.0
/CERAXLAN.OKR.Solution/CorePackages/CERAXLAN.Core.CrossCuttingConcerns/obj
/CERAXLAN.OKR.Solution/CorePackages/CERAXLAN.Core.Persistence/bin/Debug/net6.0
/CERAXLAN.OKR.Solution/CorePackages/CERAXLAN.Core.Persistence/obj
/CERAXLAN.OKR.Solution/CorePackages/CERAXLAN.Core.Security/bin/Debug/net6.0
/CERAXLAN.OKR.Solution/CorePackages/CERAXLAN.Core.Security/obj
/CERAXLAN.OKR.Solution/obj/Debug
