@inject HttpClient httpClient
@using CERAXLAN.OKR.BlazorWebUI.Models

@if (!isEditMode)
{
    <tr>
        <td>@User.FirstName</td>
        <td>@User.LastName</td>
        <td><a @onclick="() =>{ isEditMode = true; }" href="javascript:void(0)"><i class="oi oi-pencil"></i></a></td>
        <td><a @onclick="async () => await DeleteUser.InvokeAsync(User.Id)" href="javascript:void(0)"><i class="oi oi-trash"></i></a></td>
    </tr>
}
else
{
    <tr>
        <td><input class="form-control" @bind="User.FirstName" placeholder="FirstName" /></td>
        <td><input class="form-control" @bind="User.LastName" placeholder="LastName" /></td>
        <td class="pt-3"><a @onclick="async () => {await UpdateUser.InvokeAsync(User);isEditMode = false;}" href="javascript:void(0)"><i class="oi oi-thumb-up"></i></a></td>
        <td></td>
    </tr>
}

@code {
    private bool isEditMode = false;

    [Parameter]
    public UserViewModel User { get; set; }

    [Parameter]
    public EventCallback<UserViewModel> UpdateUser { get; set; }

    [Parameter]
    public EventCallback<int> DeleteUser { get; set; }
}
